/* ===================================
   BREAKPOINTS
=================================== */

$tablet-lg: 1200px;
$tablet: 992px;
$mobile-lg: 768px;
$mobile: 576px;
$mobile-sm: 400px;
$mobile-xs: 360px;