@import "./assets/styles/reset.css";
@import "./assets/styles/variables.css";
@import "./assets/styles/global.css";
@import "./assets/styles/responsive.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, sans-serif;
}